/*** CODE PLAYGROUND STYLESHEET ***/
/** SASS Features application **/
.navigation, .footer-nav {
  width: 100%;
  height: 50px;
  background-color: #E65100;
  color: #fff;
  font-size: 12px; }

.footer-nav {
  text-transform: uppercase;
  text-align: center; }

.sidebar li {
  color: #E65100;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  padding: 2px 6px; }

.sidebar li {
  border-bottom: 2px solid #fff; }

/** Overall styles **/
body {
  background-color: #fafafa;
  font-family: 'Roboto',sans-serif; }

body, figure {
  padding: 0;
  margin: 0; }

.content {
  text-align: center;
  width: 80%;
  margin: 0 auto; }

* {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85); }

.clearfix::after {
  content: '';
  display: block;
  clear: both; }

img, .icon {
  max-width: 100%; }

#svg-defs {
  display: none; }

/** Remove input type number default up and down spinners (arrows) **/
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

/** Dont-leave message box **/
.dont-leave {
  position: absolute;
  z-index: 1000;
  display: block;
  margin: 0 auto;
  background-color: #80CBC4;
  padding: 100px;
  border: 1px solid #004D40; }

.dont-leave button {
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  padding: 10px 20px;
  display: block;
  margin: 0 auto;
  background-color: #004D40;
  color: #fcfcfc;
  border: none;
  cursor: pointer; }

/** Dark background **/
.dark-bgd {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #000;
  opacity: 0.8; }

/** Header **/
header {
  padding: 20px 0 60px;
  background-color: #4bc0ff; }

#page-title {
  float: left;
  width: 22%;
  margin: 0; }

.nav-and-cart {
  float: right;
  width: 78%;
  padding-left: 10%; }

#header-nav {
  float: left; }

#header-nav ul {
  list-style-type: none;
  padding: 0; }

#header-nav li {
  display: inline-block;
  padding: 6px 10px;
  border-bottom: 1px solid #fafafa;
  margin: 0 4px; }

#header-nav li.active {
  border-color: inherit; }

#cart {
  float: right;
  width: 150px; }

#cart-icon {
  width: 48px;
  height: 48px;
  float: left; }

#cart-qty-price {
  font-size: 14px; }

#cart-qty, #cart-price {
  padding-top: 4px; }

#cart-reset {
  margin-top: 12px;
  float: right;
  background-color: #fafafa;
  color: rgba(0, 0, 0, 0.75);
  border: 1px solid;
  padding: 5px 12px;
  cursor: pointer;
  transition: 0.3s ease; }

#cart-reset:hover {
  background-color: #ca4700;
  color: #fafafa; }

/** Main wrapper **/
#main-wrapper {
  min-height: calc(100vh - 68px); }

/** Product list **/
.product.thumbnail {
  width: 25%;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #E65100; }

.product-name, .product-price {
  padding: 8px 10px; }

.prod-price-currency {
  margin-right: 6px; }

.add-to-cart {
  padding: 18px 16px;
  margin-top: 12px;
  background-color: #FFCC80;
  text-align: center; }

.product-qty, .purchase-button {
  display: inline-block;
  height: 36px; }

.product-qty {
  width: 32%;
  margin: 0 8% -14px 0; }

.purchase-button {
  width: 50%;
  margin: 0;
  border: none;
  background-color: #E65100;
  color: #fafafa; }
  .purchase-button:hover {
    background-color: rgba(202, 71, 0, 0.9); }

.qty-value, .qty-buttons {
  float: left; }

.qty-value {
  height: 100%;
  width: 60%;
  text-align: center;
  font-size: 16px;
  border: none; }

.qty-buttons {
  width: 40%; }

.qty-buttons .button {
  display: block;
  height: 18px;
  width: 100%;
  background-color: #E65100;
  padding: 0 4px; }

.button.qty-up {
  border-bottom: 1px solid #FFCC80; }

.purchase-button, .qty-buttons .button {
  cursor: pointer; }

.qty-buttons .icon {
  height: 100%; }

/** Luiza Cred cards **/
.cards-intro {
  background-color: #0083ca;
  /*Option with display: inline-block*/
  /*Option with float: left
  .cards-wrapper {
    background-color: #80CBC4;
    position: relative;
    width: 100%;
    height: 196px;
    .card-container {
      float: left;
      width: 50%;
      position: absolute;
      top: 80px;
      z-index: 20;
      img {
        width: 100%;
        max-width: 250px;
      }
    }
    .golden-card {
      left: 0;
      padding: 0 15px 0 40px;
      img {
        float: right;
      }
    }
    .silver-card {
      right: 0;
      padding: 0 40px 0 15px;
      img {
        float: left;
      }
    }
  }*/ }
  .cards-intro .intro-text {
    padding: 10px 0; }
    .cards-intro .intro-text p {
      font-size: 22px;
      color: #fff; }
  .cards-intro .cards-wrapper {
    background-color: #80CBC4;
    position: relative;
    width: 100%;
    height: 196px; }
    .cards-intro .cards-wrapper .card-container {
      display: inline-block;
      width: 50%;
      position: absolute;
      top: 80px;
      z-index: 20; }
      .cards-intro .cards-wrapper .card-container img {
        width: 100%;
        max-width: 250px; }
    .cards-intro .cards-wrapper .golden-card {
      left: 0;
      padding: 0 14px 0 40px; }
      .cards-intro .cards-wrapper .golden-card img {
        float: right; }
    .cards-intro .cards-wrapper .silver-card {
      right: 0;
      padding: 0 40px 0 14px; }
      .cards-intro .cards-wrapper .silver-card img {
        float: left; }

.discount-info {
  background-color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-size: 36px;
  line-height: 2.0;
  padding: 40px 100px;
  position: relative; }
  .discount-info span {
    color: #0083ca; }
    .discount-info span.bold {
      font-weight: bold; }
  .discount-info .coupon-info {
    display: none; }
  .discount-info #coupon-toggle {
    cursor: pointer; }

/** Footer **/
footer {
  padding: 150px 0;
  background-color: #002031; }

footer h1 {
  margin: 0;
  color: #FFF; }

/*# sourceMappingURL=styles.css.map */
